.addFuncionariosContainer {
  margin-left: 5rem;
  margin-right: 3.5rem;
  margin-bottom: 1.5rem;

  label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  input {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
}
